img{
    border: 3px solid black;
    width: 400px;
}
#egy{

}

#ketto{
    align-content: right;

}

#harom{
        align-content: center;
}

#negy{
        border-color: aqua;
}

#ot{
        border-color: blue;
}
