img{
    border: 3px solid rebeccapurple;
    width: 400px;
}
#egy{
        border-color: crimson;
}

#ketto{
    align-content: right;

}

#harom{
        align-content: center;
}

#negy{
        border-color: aqua;
}

#ot{
        border-color: blue;
}
